<div class="numpad-container">
    <button class="numpad-button">1</button>
    <button class="numpad-button">2</button>
    <button class="numpad-button">3</button>
    <button class="numpad-button">4</button>
    <button class="numpad-button">5</button>
    <button class="numpad-button">6</button>
    <button class="numpad-button">7</button>
    <button class="numpad-button">8</button>
    <button class="numpad-button">9</button>
    <button class="numpad-button">00</button>
    <button class="numpad-button">0</button>
    <button class="numpad-button"><</button>
</div>
