/********** Typography **********/

@font-face {
    font-family: radwave;
    src: url("./fonts/RadwaveFont-Demo.otf") format('opentype');
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/FiraCode-Regular.woff2") format('woff');
}

/********** Global Variables **********/

/* Phones */
:root {
    /* Colors */
    --yellow: #EEC369;
    --red: #EC6A61;
    --green: #54BA64;
    --gray: #757575;
    --dark-gray: #464646;
    --background: #28251F;
    /* Styles*/
    --standard-padding: 32px;
    --max-width: 90%;
}

/* Tablets and up */
@media (min-width: 740px) {
    :root {
        --max-width: 600px;
    }
}

/*********** Default Style Reset **********/

:link, :visited {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, pre, code, p {
    font-size: 1em;
}
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input {
    padding: 0;
    margin: 0;
}
a img, :link img, :visited img {
    border: none;
}
address {
    font-style: normal;
}
input:focus {
    outline: none;
}

/********** Global Styles **********/

body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
    max-height: 100vh;
    touch-action: manipulation; /* Disable iOS double-tap*/
}

h1 {
    font-family: 'radwave', sans-serif;
    font-size: 40px;
    margin-top: 5px; /* Vertically Center */
}

.main-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    color: black;
    background-color: var(--yellow);
    margin-bottom: -20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.main-container {
    color: white;
    background-color: black;
    border-radius: 20px 20px 0 0;
    padding-top: var(--standard-padding);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: var(--max-width);
}

.bottom-wrapper {
    position: fixed;
    bottom: var(--standard-padding);
    width: var(--max-width);
}

button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 4px 18px;
    font-weight: bold;
    outline: none;
}

.button-gold {
    outline: none;
    border: var(--yellow) solid 2px;
    color: var(--yellow);
    background-color: black;
    transition-duration: 200ms;
    cursor: pointer;
}

.button-gold:hover {
    color: black;
    background-color: var(--yellow);
}

.button-gold-solid {
    color: black;
    background-color: var(--yellow);
}

.button-gold-solid:hover {
    color: var(--yellow);
    background-color: black;
}

.button-secondary {
    color: var(--yellow);
    margin-top: 12px;
    color-rendering: var(--yellow);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/********** Site Specific Styles ***********/

/*** HOME ***/

.login-id label, .login-pw label {
    font-size: 14px;
    font-weight: bold;
    color: var(--gray);
    display: block;
    margin-bottom: 6px;
}

.login-id input {
    font-family: "Fira Code", monospace;
    font-size: 32px;
    color: white;
    background-color: black;
    border: none;
    padding-bottom: 20px;
}

.login-pw input {
    font-size: 40px;
    color: white;
    background-color: var(--background);
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
}

.login-pw input::placeholder {
    font-size: 20px;
    transform:translate3d(0, 0, 0)
}

/*** CARD ***/

.card-header {
    height: 280px;
    color: white;
}

.card-container {
    position: relative;
    width: 260px;
    background-color: black;
    padding: 72px 30px 26px 30px;
    border-radius: 16px;
    overflow: hidden;
}

.card-reflection {
    background-color: white;
    opacity: 0.08;
    width: 500px;
    height: 500px;
    position: absolute;
    transform: rotateZ(30deg) translateY(-200px) translateX(50px);
    filter: blur(6px);
}

.card-row {
    display: flex;
    margin-top: 16px;
}

.card-balance-wrapper {
    margin-right: 32px;
}

.card-logo {
    width: 26px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.card-label {
    color: var(--gray);
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
}

.card-text {
    font-family: "Fira Code", monospace;
    font-size: 20px;
}

.card-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 360px;
    margin: 0 auto;
}

.card-button-container button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    background-color: var(--background);
    border: none;
    border-radius: 12px;
    padding: 4px 18px;
    font-weight: bold;
    cursor: pointer;
}

.card-button-container img {
    margin-right: 8px;
}

.more-overlay-wrapper {
    opacity: 1;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition-duration: 450ms;
    display: flex;
    justify-content: center;
}

.overlay-hidden {
    pointer-events: none;
    opacity: 0;
}

.more-overlay-hidden {
    transform: translateY(120%);
}

.more-overlay {
    width: calc(90% - var(--standard-padding));
    max-width: 360px;
    position: absolute;
    bottom: calc(var(--standard-padding) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 20px calc(var(--standard-padding) / 2);
    border-radius: 20px;
    text-align: center;
    transition-duration: 500ms;
}

.more-overlay p {
    color: var(--yellow);
    padding-bottom: 8px;
}

.more-overlay form {
    width: 100%;
}

.button-overlay {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--yellow);
    background-color: transparent;
    border: var(--yellow) 2px solid;
    border-radius: 12px;
    margin-top: 12px;
}

.button-overlay-full {
    color: black;
    border: none;
    background-color: var(--yellow);
}


/*** CARD DETAIL ***/

.details-label {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 4px;
    font-weight: bold;
    color: var(--gray);
}

.details-text {
    font-size: 22px;
    font-family: "Fira Code", monospace;
}

/* CARD DELETE */

.card-delete-text {
    margin-bottom: 20px;
}

#confirm-range-label {
    display: block;
    padding-top: 6px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: var(--gray);
    opacity: 0.6;
}

#confirm-range {
    background-color: black;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
}

#confirm-range:focus {
    outline: none;
}

/* region browser styles */
#confirm-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 40px;
    background: var(--background);
    border-radius: 50px;
}

#confirm-range::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: var(--yellow);
    -webkit-appearance: none;
    margin-top: 0;
    box-shadow: -5px 0 7px rgba(0, 0, 0, 0.33), -1020px 0 0 1000px var(--yellow);
}

#confirm-range::-moz-range-track {
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 50px;
}

#confirm-range::-moz-range-thumb {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: var(--yellow);
}
/* endregion */

/*** CARD CREATE HOLDER ***/

.create-holder-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-holder-form label {
    font-size: 16px;
    margin-bottom: 6px;
    color: white;
}

.create-holder-form input {
    font-size: 16px;
    padding: 14px 20px;
    margin-bottom: 12px;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
}

/*** CARD CREATE BALANCE ***/

#balance-form {
    display: none;
}

/*** NUMPAD ***/

.numpad-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
}

.numpad-button {
    font-size: 24px;
    width: calc(100% / 3);
    height: 60px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    transition-duration: 50ms;
}

.numpad-button-animated {
    background-color: #1d1d1d;
}

/*** CHARGE / ADD PAGES ***/

.header-number-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0;
}

.small-header-label {
    opacity: 0.4;
    font-size: 12px;
    font-weight: bold;
}

.header-number {
    font-size: 40px;
    font-weight: 600;
}

.input-value {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 240px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Code", monospace;
    font-size: 32px;
    color: var(--red);
    background-color: var(--background);
    border-radius: 8px;
}

/*** CHARGE MONEY ***/

.charge-header {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--red);
    padding-bottom: 20px;
}

#charge-button {
    background-color: var(--red);
    border: var(--red);
}

#charge-button:hover {
    color: black;
}

#charge-cancel-button {
    color: var(--gray);
}

#charge-form {
    display: none;
}

/*** ADD MONEY ***/

.add-header {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--green);
    padding-bottom: 20px;
}


.input-value-green {
    color: var(--green);
}

#add-button {
    background-color: var(--green);
    border: var(--green);
}

#add-button:hover {
    color: black;
}

#add-form {
    display: none;
}

#add-cancel-button {
    color: var(--gray);
}

/*** SUCCESS ***/

.success-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success-container p {
    font-size: 22px;
    font-weight: bold;
}

.success-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -60px;
}

.success-container-green {
    background-color: var(--green);
}

.success-container-red {
    background-color: var(--red);
}

.success-image {
    margin-bottom: 8px;
}

.success-countdown {
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 26px;
    opacity: 0.4;
}

/*** ADMIN ***/

.admin-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 12px;
}

.admin-title {
    padding-bottom: 7px;
    margin-right: 20px;
}

#admin-usage-wrapper {
    height: 20px;
    width: 100%;
    background-color: var(--dark-gray);
    border-radius: 10px;
    overflow: hidden;
}

#admin-usage-used {
    height: 100%;
    width: 50%;
    background-color: var(--yellow);
}

.admin-text {
    font-family: "Fira Code", monospace;
    font-size: 22pt;
}

.admin-transaction-item-first-line {
    display: flex;
    justify-content: space-between;
}

.admin-transaction-separator {
    width: 100%;
    height: 1px;
    background-color: var(--dark-gray);
    margin: 12px 0;
}

.admin-transaction-item-action {

}

.admin-transaction-item-amount {
    font-family: "Fira Code", monospace;
}

.admin-transaction-item-timestamp {
    color: var(--gray);
}
