<section class="main-section">

    <div class="header login-header">
        <h1>Admin<br>Page</h1>
    </div>

    <div class="main-container">
        <div class="main-content">
            <h2>Card Used:</h2>
            <div class="admin-usage-wrapper">
                <div class="admin-usage-used"></div>
                <div class="admin-usage-free"></div>
            </div>
            <h2>Total Value:</h2>
            <p>{{totalValue}}</p>
        </div>

    </div>

</section>