<section class="main-section">

    <div class="header login-header">
        <h1>Admin<br>Login</h1>
    </div>

    <div class="main-container">
        <div class="main-content">
            <form action="/admin" method="post" class="login-form">
                <div>
                    <div class="login-pw">
                        <label for="auth">Password:</label>
                        <input id="auth" placeholder="Enter Password" name="password" type="password"
                               autocomplete="current-password" tabindex="1" autofocus>
                    </div>
                </div>
                <div class="bottom-wrapper">
                    <button class="button-gold" type="submit" tabindex="2">Log in</button>
                </div>
            </form>
        </div>

    </div>

</section>