<div class="card-header">
    <div class="card-container">
        <img class="card-logo" src="/images/Crown Logo.svg" alt="Crown Logo">

        <div>
            <p class="card-label">Holder:</p>
            <p class="card-text">{{ cardHolder }}</p>
        </div>
        <div class="card-row">
            <div class="card-balance-wrapper">
                <p class="card-label">Balance:</p>
                <p class="card-text" id="balance">{{ balance }}</p>
            </div>
            <div>
                <p class="card-label">Trust:</p>
                <p class="card-text">High</p>
            </div>
        </div>
    </div>
</div>

<div class="card-button-container">
    <form action="/card/charge/" method="post">
        <button>
            <img src="/images/Charge Icon.svg" alt="Charge Icon">
            Charge
        </button>
    </form>

    <form action="/card/add" method="post">
        <button>
            <img src="/images/Add Money Icon.svg" alt="Add Money Icon">
            Add Money
        </button>
    </form>
</div>


<script>

    const balance = document.querySelector('#balance')

    function formatString (string) {
        return string.toString().slice(0, -2).padStart(1, '0')
                + '.' + string.toString().slice(-2).padStart(2, '0')
    }

    // Format inital balance
    const startingBalance = parseInt(balance.innerHTML)
    balance.innerHTML = 'CHF ' + formatString(startingBalance)

</script>
