<h1>Card Page</h1>
<p>For card: {{cardID}}</p>
<p>Balance: CHF 100</p>

<form action="/card/charge/" method="post">
    <button>Charge</button>
</form>

<form action="/card/add" method="post">
    <button>Add Money</button>
</form>
