<div>
    <p class="small-header-label">New Balance</p>
    <p class="header-number" id="new-balance">{{balance}}</p>
    <p class="small-header-label">To Pay</p>
    <p class="header-number" id="to-pay">0.00</p>
</div>

<div>
    <p class="input-value" id="charge-value">0.00</p>

    <div id="numpad">
        {{> numbad }}
    </div>

    <button id="charge-button">Charge</button>

    <form id="charge-form" action="/card/charge/complete" method="post">
        <label for="charge">Charge</label>
        <input id="charge" name="newBalance" type="text">
<!--        <button>Charge</button>-->
    </form>

    <form action="/card/">
        <button>Cancel</button>
    </form>
</div>

<script>

    const newBalance = document.querySelector('#new-balance')
    const toPay = document.querySelector('#to-pay')
    const chargeValue = document.querySelector('#charge-value')
    const chargeInput = document.querySelector('#charge')
    const chargeButton = document.querySelector('#charge-button')
    const chargeForm = document.querySelector('#charge-form')
    const numpad = document.querySelector('#numpad')

    const startingBalance = newBalance.innerHTML
    let currentInput = 0

    function formatString (string) {
        return string.toString().slice(0, -2).padStart(1, '0')
        + '.' + string.toString().slice(-2).padStart(2, '0')
    }

    function updateView () {
        chargeValue.innerHTML = formatString(currentInput)
        if (currentInput > startingBalance) {
            newBalance.innerHTML = '0.00'
            toPay.innerHTML = formatString(startingBalance - currentInput).toString()
        } else {
            newBalance.innerHTML = formatString((startingBalance - currentInput))
            toPay.innerHTML = '0.00'
        }
    }

    function handleInput (e) {
        const value = e.target.innerText
        currentInput = parseInt(currentInput)
        switch (value) {
            case '00':
                currentInput *= 100
                break
            case '<':
                if (currentInput < 10) {
                    currentInput = 0
                } else {
                    let temp = currentInput.toString()
                    temp = temp.slice(0, -1)
                    currentInput = parseInt(temp)
                }
                break
            default:
                currentInput = currentInput * 10 + parseInt(value)
        }
        updateView()
    }

    function submitForm () {
        if (currentInput <= startingBalance) {
            chargeInput.value = startingBalance - currentInput
        } else {
            chargeInput.value = 0
        }
        chargeForm.submit()
    }


    // Format inital balance
    newBalance.innerHTML = formatString(startingBalance)

    numpad.addEventListener('click', handleInput)
    chargeButton.addEventListener('click', submitForm)

</script>
