<section class="main-section">

    <div class="header">
        <h1>Unused<br>Card</h1>
    </div>

    <div class="main-container">
        <div class="main-content">
            <p>This card is unused, do you want to assign it?</p>
            <form action="/create/holder" method="post">
                <div class="bottom-wrapper">
                    <button class="button-gold">Create Card</button>
                </div>
            </form>
        </div>
    </div>
</section>
