<section class="operation-failed-wrapper">
    <h1>Operation failed</h1>

    <p>An error occurred. The operation was not executed.</p>

    <h3>Steps to try:</h3>
    <ol class="failed-list">
        <li>Close this window, scan the card and try again</li>
        <li>Unplug and reconnect the ethernet cable</li>
        <li>Force quit safari</li>
    </ol>

    <p class="failed-message">If the problem persists, note the last few steps and the action directly before this screen and contact the site admin</p>

    <form action="/" method="post">
        <button type="submit" class="button-gold">Close</button>
    </form>
</section>
