<h1>Crown Card</h1>
<p id="id-text">None</p>

<p></p>
<p>DATABASE:</p>
<p>user: {{user}}</p>
<p>host: {{host}}</p>
<p>database: {{db}}</p>
<p>password: {{pw}}</p>
<p></p>

<form action="/card" method="post">
    <label for="auth">Password</label>
    <input id="auth" name="password" type="password" autocomplete="current-password">
    <label for="card-id">Card ID</label>
    <input id="card-id" name="cardID" type="text">
    <button type="submit">Send</button>
</form>

<script>
    // Get ID from URL Parameter
    let urlString = window.location.href
    let url = new URL(urlString)
    let ccID = url.searchParams.get('id')
    console.log('ID: ' + ccID)

    // Insert ID into Text Block
    document.getElementById('id-text').innerHTML = 'ID: ' + ccID
    document.querySelector('#card-id').value = ccID
</script>
