<section class="main-section">

    <div class="header home-header">
        <h1>Crown Card</h1>
    </div>

    <div class="main-container login-container">
        <form action="/card" method="post" class="login-form">
            <div>
                <div class="login-id">
                    <label for="card-id">Card ID:</label>
                    <input id="card-id" name="cardID" type="text" tabindex="-1">
                </div>
                <div class="login-pw">
                    <label for="auth">Password:</label>
                    <input id="auth" name="password" type="password" autocomplete="current-password" tabindex="1">
                </div>
            </div>
            <button id="login-button" type="submit" tabindex="2">Send</button>
        </form>
    </div>

</section>

<script>
    // Get ID from URL Parameter
    let urlString = window.location.href
    let url = new URL(urlString)
    let ccID = url.searchParams.get('id')

    // Insert ID into Text Block
    document.querySelector('#card-id').value = ccID

    // Focus password input
    document.querySelector('#auth').focus()
</script>
