<section class="main-section">
    <div class="header">
        <h1>Invalid<br>Card ID</h1>
    </div>

    <div class="main-container">
        <div class="main-content">
            <p class="paragraph-top-padding">This Card has an invalid ID.</p>

            <div class="bottom-wrapper">
                <button onclick="window.location.href='/'" class="button-gold">Back to login</button>
            </div>
        </div>
    </div>

</section>
