<section class="main-section">
    <div class="success-container" id="success-container">
        <div class="success-wrapper">
            <img class="success-image" src="/images/Checkmark.svg" alt="Checkmark">
            <p id="activity">{{activity}}</p>
            <p>Successfully</p>
        </div>
    </div>

    <p class="success-countdown">Automatically returning to<br><span id="redirect-location">Card Overview</span> in
        <span id="time-remaining">3</span> seconds</p>
</section>

<script>

    let redirectToCard = true

    // Set mode
    const activity = document.querySelector('#activity')
    const successContainer = document.querySelector('#success-container')
    const redirectLocation = document.querySelector('#redirect-location')

    switch (activity.textContent) {
        case 'Charged':
            successContainer.classList.add('success-container-red')
            break
        case 'Added Money':
            successContainer.classList.add('success-container-green')
            break
        case 'Created':
            successContainer.classList.add('success-container-green')
            break
        case 'Deleted':
            successContainer.classList.add('success-container-red')
            redirectLocation.innerHTML = 'login'
            redirectToCard = false
            break
    }

    // Automatic Redirect after 3 Seconds
    const timeRemainingSpan = document.querySelector('#time-remaining')
    let timeRemaining = 2

    function redirect () {

        if (timeRemaining > 0) {
            timeRemainingSpan.innerHTML = timeRemaining.toString()
            timeRemaining--
        } else {
            clearInterval(intervalID)
            if (redirectToCard) {
                window.location.href = '/card'
            } else {
                window.location.href = '/'
            }
        }
    }

    const intervalID = setInterval(redirect, 1000)

</script>
