<section class="padding-section">
    <h1>Wrong Password</h1>

    <p class="paragraph-top-padding">This page is for crown bar staff only.</p>

    <button onclick="window.history.back()" class="button-gold">Try again</button>
</section>
