<section class="main-section">

    <div class="header">
        <h1>Wrong<br>Password</h1>
    </div>

    <div class="main-container">
        <div class="main-content">
            <p class="paragraph-top-padding">This page is for crown bar staff only.</p>
            <div class="bottom-wrapper">
                <button onclick="window.history.back()" class="button-gold">Try again</button>
            </div>
        </div>
    </div>

</section>
